<?php

/* GENERAL */
define('URL', '/');
define('TITLE','MVC Stack');


/* DATABASE */
define('DB_CONNECTION', 'mysql');
define('DB_HOST', '127.0.0.1');
define('DB_USER', 'root');
define('DB_PASS', 'P@ssw0rd');
define('DB_NAME', 'mvcstack');